<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cronus.DomainModeling" version="3.0.0" targetFramework="net45" />
  <package id="Hystrix" version="1.0.0-alpha001" targetFramework="net45" />
  <package id="LibLog" version="4.2.5" targetFramework="net45" developmentDependency="true" />
  <package id="Multithreading.Scheduler" version="1.1.0" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="Servo" version="0.1.0-beta0004" targetFramework="net45" />
  <package id="Servo.Atlas" version="0.1.0-beta0007" targetFramework="net45" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net45" />
</packages>