<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cronus" version="1.1.22" targetFramework="net45" />
  <package id="Cronus.DomainModelling" version="1.0.2" targetFramework="net45" />
  <package id="Cronus.Persistence.MSSQL" version="1.0.11" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.1001" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Protoreg" version="1.0.8" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.2.4" targetFramework="net45" />
</packages>